resources/odd/zszh.odd

<?xml-model href="teipublisher_odds.xsd"?><?teipublisher output="web"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xmlns:nontei="http://ssrq-sds-fds.ch/ns/nonTEI" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model for ZSZH</title>
            </titleStmt>
            <publicationStmt>
                <p>
                    Generated by
                    <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>
                    Generated by
                    <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="zszh.css"/>
            </tagsDecl>
        </encodingDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="ssrq" source="teipublisher.odd">
                <elementSpec ident="TEI" mode="change">
                    <model predicate="$parameters?header='context'" behaviour="pass-through">
            <param name="content" value="teiHeader"/>
        </model>
                    <modelSequence predicate="$parameters?view='metadata'">
            <model behaviour="block" cssClass="document-heading">
                <param name="content" value="teiHeader"/>
            </model>
            <model behaviour="block">
                <param name="content" value="text//back"/>
            </model>
        </modelSequence>
                    <model behaviour="document"/>
                </elementSpec>
                <elementSpec ident="body" mode="change">
                    <modelSequence>
            <model behaviour="index">
                <param name="type" value="'toc'"/>
            </model>
            <model behaviour="block" cssClass="body"/>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="summary" mode="add"/>
                <elementSpec ident="lb" mode="change">
                    <model predicate="ancestor::back//orig" behaviour="omit"/>
                    <model predicate="preceding-sibling::node()[1][self::pb]" behaviour="omit"/>
                    <model predicate=". is ancestor::div/node()[1]" behaviour="omit"/>
                    <model predicate=". is ancestor::p/node()[1]" behaviour="omit"/>
                    <modelSequence predicate="@break='no'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve" scope="before">
                content: '-';
                </outputRendition>
            </model>
            <model behaviour="break">
                <param name="type" value="'page'"/>
                <param name="label" value="@n"/>
                <outputRendition xml:space="preserve">
                display: block;
                </outputRendition>
            </model>
        </modelSequence>
                    <model behaviour="break">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="figure" mode="change">
                    <model behaviour="inline">
            <param name="content" value="ec:translate(@type, 0, 'uppercase')"/>
            <outputRendition xml:space="preserve" scope="before">
            content: '[';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: ']';
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="signed" mode="change">
                    <model behaviour="block">
            <param name="content" value="('[signed:]', .)"/>
        </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change"/>
                <elementSpec ident="expan" mode="change"/>
                <elementSpec ident="abbr" mode="change"/>
                <elementSpec ident="unclear" mode="change"/>
                <elementSpec ident="corr" mode="change"/>
                <elementSpec ident="sic" mode="change"/>
                <elementSpec ident="orig" mode="change">
                    <model behaviour="inline">
            <param name="content" value="('«', ., '»')"/>
        </model>
                </elementSpec>
                <elementSpec ident="origDate" mode="add">
                    <model predicate="$parameters?header='short'" behaviour="inline">
            <desc>Called to output the sigle of a document</desc>
            <param name="content" value="ec:print-date(.)"/>
        </model>
                    <model predicate="parent::origin and text()" behaviour="listItem">
            <desc>Ausgabe in "Stückbeschreibung"</desc>
            <param name="content" value="(ec:label('origDate'), ec:colon(), ec:print-date(.), ' (', ., ')')"/>
        </model>
                    <model predicate="parent::origin" behaviour="listItem">
            <desc>Ausgabe in "Stückbeschreibung"</desc>
            <param name="content" value="(ec:label('origDate'), ec:colon(), ec:print-date(.))"/>
        </model>
                    <model predicate="@calendar and @from and @to and ancestor::body and not(ancestor::note)" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:label('origDate'), ec:colon(), ec:format-date(@from), ' – ', ec:format-date(@to), ' (', ec:translate(@calendar, 0, ()), ')')"/>
        </model>
                    <model predicate="@calendar" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:label('origDate'), ec:colon(), ec:format-date(@when), ' (', ec:translate(@calendar, 0, ()), ')')"/>
        </model>
                    <model predicate="@from and @to and ancestor::body and not(ancestor::note)" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:label('origDate'), ec:colon(), ec:format-date(@from), ' – ', ec:format-date(@to))"/>
        </model>
                    <model behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:label('origDate'), ec:colon(), ec:format-date(@when))"/>
        </model>
                </elementSpec>
                <elementSpec ident="add" mode="change"/>
                <elementSpec ident="addSpan" mode="change"/>
                <elementSpec ident="del" mode="change"/>
                <elementSpec ident="delSpan" mode="change"/>
                <elementSpec ident="damage" mode="add"/>
                <elementSpec ident="damageSpan" mode="change"/>
                <elementSpec ident="anchor" mode="change"/>
                <elementSpec ident="app"/>
                <elementSpec ident="lem">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="rdg">
                    <model predicate="../gap" behaviour="inline">
            <desc>app with gap and reading</desc>
            <param name="content" value="(ec:label('unreadable'), ', ', ec:label('supplied-after', false()), ' ', @wit)"/>
        </model>
                </elementSpec>
                <elementSpec ident="handShift"/>
                <elementSpec ident="note" mode="change"/>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='sup'" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-size: 80%; vertical-align: top;
            </outputRendition>
        </model>
                    <model predicate="@rend!='sup' and @hand" behaviour="alternote">
            <param name="content" value="."/>
            <param name="alternate" value="(ec:translate(@rend), ' ', ec:translate(@hand, 0, 'lowercase'))"/>
            <param name="type" value="'text-critical'"/>
        </model>
                    <model predicate="@rend!='sup'" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="ec:translate(@rend)"/>
            <param name="type" value="'text-critical'"/>
        </model>
                </elementSpec>
                <elementSpec ident="space" mode="change">
                    <model behaviour="alternote" cssClass="text-critical">
            <param name="content" value="text{'...'}"/>
            <param name="alternate" value="(ec:label('gap-in-orig'), ' (' , @quantity , ' ', ec:translate(@unit, @quantity, 'lowercase'), ')')"/>
            <param name="type" value="'text-critical'"/>
        </model>
                </elementSpec>
                <elementSpec ident="gap" mode="change"/>
                <elementSpec ident="foreign" mode="change"/>
                <elementSpec ident="term" mode="change"/>
                <elementSpec ident="persName" mode="add"/>
                <elementSpec ident="orgName" mode="add">
                    <desc>Semantic highlighting of organization names with tooltip and blue text color</desc>
                </elementSpec>
                <elementSpec ident="placeName" mode="add"/>
                <elementSpec ident="origPlace" mode="add"/>
                <elementSpec ident="num" mode="change">
                    <model behaviour="alternate" cssClass="text-critical">
            <desc>Display number in tooltip and highlight text with color</desc>
            <param name="default" value="."/>
            <param name="alternate" value="(ec:label('amount'), ec:colon(), @value)"/>
        </model>
                </elementSpec>
                <elementSpec ident="time" mode="change">
                    <model predicate="@period" behaviour="alternate" cssClass="text-critical">
            <desc>Display time with given parameter in tooltip and highlight text with color</desc>
            <param name="default" value="."/>
            <param name="alternate" value="(ec:label('duration'), ec:colon(), ec:translate(@period, 0, ()))"/>
        </model>
                    <model predicate="@when" behaviour="alternate" cssClass="text-critical">
            <desc>Display time with given parameter in tooltip and highlight text with color</desc>
            <param name="default" value="."/>
            <param name="alternate" value="(ec:label('time'), ec:colon(), format-time(@when, '[H]:[m]'))"/>
        </model>
                    <model predicate="@dur" behaviour="alternate" cssClass="text-critical">
            <desc>Display time in tooltip and highlight text with color</desc>
            <param name="default" value="."/>
            <param name="alternate" value="(ec:label('duration'), ec:colon(), ec:format-duration(@dur))"/>
        </model>
                    <model behaviour="alternate" cssClass="text-critical">
            <desc>Display time in tooltip and highlight text with color</desc>
            <param name="default" value="."/>
            <param name="alternate" value="ec:label('time')"/>
        </model>
                </elementSpec>
                <elementSpec ident="measure" mode="change">
                    <model predicate="ancestor::measureGrp and (session:get-attribute('ssrq.lang'), 'de')[1]!='de'" behaviour="alternate" cssClass="text-critical">
            <desc>Display summarized measures for a measure group in a tooltip (non German)</desc>
            <param name="default" value="."/>
            <param name="alternate" value="let $measures := ancestor::measureGrp//measure  return (  ec:translate($measures[1]/@type, 0, 'uppercase'), ec:colon(),           for $measure in $measures     return     (' ', $measure/@quantity, ' ', ec:translate($measure/@unit, $measure/@quantity, 'lowercase'), ' ', ec:translate($measure/@commodity, 0, 'lowercase'), ' ', ec:translate($measure/@origin, 0, 'lowercase')) )"/>
        </model>
                    <model predicate="ancestor::measureGrp and (session:get-attribute('ssrq.lang'), 'de')[1]='de'" behaviour="alternate" cssClass="text-critical">
            <desc>Display summarized measures for a measure group in a tooltip (German)</desc>
            <param name="default" value="."/>
            <param name="alternate" value="let $measures := ancestor::measureGrp//measure  return (  ec:translate($measures[1]/@type, 0, 'uppercase'), ec:colon(),           for $measure in $measures     return     (' ', $measure/@quantity, ' ', ec:translate($measure/@origin, 0, 'lowercase'), ' ', ec:translate($measure/@unit, $measure/@quantity, 'lowercase'), ' ', ec:translate($measure/@commodity, 0, 'lowercase')) )"/>
        </model>
                    <model predicate="(session:get-attribute('ssrq.lang'), 'de')[1]='de'" behaviour="alternate" cssClass="text-critical">
            <desc>Display measurement with given parameters in tooltip and highlight text with color</desc>
            <param name="default" value="."/>
            <param name="alternate" value="(ec:translate(@type, 0, 'uppercase'), ec:colon(), @quantity, ' ', ec:translate(@origin, 0, 'lowercase'), ' ', ec:translate(@unit, @quantity, 'lowercase'), ' ', ec:translate(@commodity, 0, 'lowercase'))"/>
        </model>
                    <model predicate="(session:get-attribute('ssrq.lang'), 'de')[1]!='de'" behaviour="alternate" cssClass="text-critical">
            <desc>Display measurement with given parameters in tooltip and highlight text with color</desc>
            <param name="default" value="."/>
            <param name="alternate" value="(ec:translate(@type, 0, 'uppercase'), ec:colon(), @quantity, ' ', ec:translate(@unit, @quantity, 'lowercase'), ' ', ec:translate(@commodity, 0, 'lowercase'), ' ', ec:translate(@origin, 0, 'lowercase'))"/>
        </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model predicate="following-sibling::node()[1][self::lb]" behaviour="copy">
            <desc>If followed by an lb, process the lb first, then the pb</desc>
            <param name="content" value="(following-sibling::lb[1], $node)"/>
        </model>
                    <modelGrp output="web">
            <model predicate="ancestor::body and not(preceding::pb[ancestor::body])" behaviour="webcomponent">
                <desc>Hide the first pagebreak in a document (beware: independent of position!)</desc>
                <param name="facs" value="normalize-space(@facs)"/>
                <param name="name" value="'pb-facs-link'"/>
                <outputRendition xml:space="preserve">
                display: none;
                </outputRendition>
            </model>
            <model predicate="not(@n)" behaviour="pass-through" cssClass="pb-empty">
                <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                <param name="content" value="'|'"/>
                <param name="alternate" value="ec:label('pb')"/>
                <param name="facs" value="normalize-space(@facs)"/>
                <pb:template xmlns="" xml:space="preserve">
                                <a href="#">
                                <pb-facs-link facs="[[facs]]" emit="transcription" trigger="click">
                                    <pb-popover>
                                        [[content]]
                                        <template slot="alternate">[[alternate]]</template>
                                    </pb-popover>
                                </pb-facs-link>
                                </a>
                            </pb:template>
            </model>
            <model predicate="@n" behaviour="inline" cssClass="pb-pagination">
                <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only
                                contains a number
                            </desc>
                <param name="content" value="('[S. ', @n, '] ')"/>
                <param name="facs" value="normalize-space(@facs)"/>
                <param name="alternate" value="ec:label('pb')"/>
                <pb:template xmlns="" xml:space="preserve">
                                <a href="#">
                                <pb-facs-link facs="[[facs]]" emit="transcription" trigger="click">
                                    <pb-popover>
                                        [[content]]
                                        <template slot="alternate">[[alternate]]</template>
                                    </pb-popover>
                                </pb-facs-link>
                                </a>
                            </pb:template>
            </model>
        </modelGrp>
                </elementSpec>
                <elementSpec ident="q" mode="change">
                    <model behaviour="inline">
            <param name="content" value="('«', ., '»')"/>
        </model>
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <model behaviour="inline">
            <desc>Quotes in commentary</desc>
            <param name="content" value="('«', ., '»')"/>
        </model>
                </elementSpec>
                <elementSpec ident="supplied" mode="change"/>
                <elementSpec ident="titleStmt" mode="change">
                    <model output="fo" behaviour="heading"/>
                    <modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="block">
                <param name="content" value="subsequence(title, 2)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="author"/>
            </model>
        </modelSequence>
                    <model output="web" behaviour="block"/>
                </elementSpec>
                <elementSpec ident="fileDesc" mode="change">
                    <modelSequence predicate="$parameters?header='short' and ancestor::TEI[@type='introduction']">
            <desc>Output a short header to be used in document listings</desc>
        </modelSequence>
                    <modelSequence predicate="$parameters?header='short'">
            <desc>Output a short header to be used in document listings</desc>
            <model behaviour="link" cssClass="header-short">
                <param name="content" value="sourceDesc/bibl/title"/>
                <param name="link" value="$parameters?doc"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="if (exists(sourceDesc/bibl/date)) then ec:print-date(sourceDesc/bibl/date) else if (exists(sourceDesc/bibl/title/date)) then ec:print-date(sourceDesc/bibl/title/date) else ()"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="editionStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="publicationStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="titleStmt"/>
            </model>
        </modelSequence>
                    <model predicate="$parameters?view='volumes'" behaviour="block">
            <param name="stmtTitle" value="seriesStmt/title"/>
            <param name="fileDescTitle" value="seriesStmt/idno[@type='human']"/>
            <param name="count" value="$parameters?count"/>
            <pb:template xmlns="" xml:space="preserve"><h3>[[fileDescTitle]] <span class="count">[[count]]</span></h3>
      </pb:template>
        </model>
                    <model predicate="$parameters?view='metadata'" behaviour="block">
            <desc>Render popover containing tei metadata</desc>
            <param name="idno-canton" value="ec:get-canton(seriesStmt/idno)"/>
            <param name="idno-format" value="titleStmt/title"/>
            <param name="stmtTitle" value="seriesStmt/title"/>
            <param name="fileDescTitle" value="titleStmt/title"/>
            <param name="fileDescPerson" value="ec:persName-list(titleStmt/respStmt[1]/persName)"/>
            <param name="credits" value="./publicationStmt/availability/p[@xml:id='facs']/text()"/>
            <param name="link" value="'https://rechtsquellen.sources-online.org/' || substring-after(util:collection-name(.), '/db/apps/zszh-data/') || '/' || replace(seriesStmt/idno, '^(.*)_1$', '$1')"/>
            <pb:template xmlns="" xml:space="preserve">
                            <!--<span id="info">
                                [[idno-format]]
                                <iron-icon icon="icons:info"/>
                            </span>-->
                            <pb-popover placement="bottom" for="info">
                                    <p>
                                        [[stmtTitle]]
                                    </p>
                                   <!-- <p>
                                        <pb-i18n key="zitation">Zitation:</pb-i18n>
                                        <a href="[[link]]">[[idno-format]]</a>
                                    </p>-->
                                    <p>
                                        <pb-i18n key="lizenz">Lizenz:</pb-i18n>
                                        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.de" target="_blank">CC BY-NC-SA</a>
                                    </p>

                            </pb-popover>
                            <span id="credits" style="display: none">[[credits]]</span>
                        </pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="back" mode="change">
                    <desc>back contains the commentary, which normally should appear as a numbered list</desc>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="parent::back and @n" behaviour="listItem">
            <desc>output as list item if in commentary</desc>
        </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model behaviour="inline">
            <param name="content" value="."/>
        </model>
                </elementSpec>
                <elementSpec ident="ab" mode="change">
                    <model behaviour="paragraph"/>
                </elementSpec>
                <elementSpec ident="label" mode="change">
                    <model predicate="@type='keyword'" behaviour="alternote">
            <param name="alternate" value="(ec:label('marginal-note'), ' ', ec:translate(@place, 0, 'lowercase'), if (@scribe) then (' ', ec:label('byScribe', false()), ' ', ec:scribe(@scribe)) else ())"/>
            <param name="type" value="'text-critical'"/>
            <outputRendition xml:space="preserve">
            font-size: 80%;
            </outputRendition>
        </model>
                    <model behaviour="paragraph"/>
                </elementSpec>
                <elementSpec ident="subst" mode="change"/>
                <elementSpec ident="date" mode="change">
                    <model output="web" predicate="@when and @type" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:format-date(@when), ' (', ec:translate(@type, 0, ()), ')')"/>
        </model>
                    <model output="web" predicate="@when and @calendar" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:format-date(@when), ' (', ec:translate(@calendar, 0, ()), ')')"/>
        </model>
                    <model output="web" predicate="@when" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:format-date(@when))"/>
        </model>
                    <model output="web" predicate="@from and @to" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:format-date(@from), ' – ', ec:format-date(@to))"/>
        </model>
                    <model output="web" predicate="@period" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:translate(@period, 0, ()))"/>
        </model>
                    <model output="web" predicate="@dur" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:format-duration(@dur))"/>
        </model>
                    <model predicate="@type" behaviour="alternate" cssClass="text-critical">
            <param name="default" value="."/>
            <param name="alternate" value="(ec:translate(@type, 0, ()))"/>
        </model>
                    <model predicate="text()" behaviour="inline" cssClass="text-critical"/>
                </elementSpec>
                <elementSpec ident="msDesc" mode="add">
                    <desc>Stückbeschreibung ausgeben</desc>
                    <model behaviour="list">
            <param name="content" value="(respStmt,sourceDesc/bibl/date,sourceDesc/bibl/publisher, physDesc/objectDesc/supportDesc/condition, physDesc/objectDesc/supportDesc, physDesc, msContents/msItem/textLang, msContents/msItem/docImprint, msContents/msItem/author[@role=&#34;scribe&#34;], additional)"/>
        </model>
                </elementSpec>
                <elementSpec ident="respStmt">
                    <modelSequence>
            <model behaviour="listItem">
                <param name="content" value="resp"/>
            </model>
            <model predicate="exists(altIdentifier)" behaviour="listItem">
                <param name="content" value="altIdentifier/idno"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="msItem">
                    <model behaviour="listItem">
            <param name="content" value="filiation[@type='current']"/>
        </model>
                </elementSpec>
                <elementSpec ident="idno">
                    <model predicate="@source" behaviour="link">
            <param name="link" value="@source"/>
            <param name="target" value="'_new'"/>
            <param name="content" value="(ec:label('signature'), ec:colon(), .)"/>
        </model>
                </elementSpec>
                <elementSpec ident="filiation">
                    <model predicate="text() and origDate" behaviour="inline">
            <param name="content" value="(ec:label('other-source'), ec:colon(), normalize-space(text()[1]), ', ', ec:print-date(origDate))"/>
        </model>
                    <model predicate="text() and $parameters?view='metadata'" behaviour="listItem">
            <param name="content" value="(ec:label('other-source'), ec:colon(), text()[1])"/>
        </model>
                    <model predicate="text()" behaviour="inline">
            <param name="content" value="(ec:label('other-source'), ec:colon(), text()[1])"/>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="condition">
                    <model behaviour="listItem">
            <param name="content" value="(.)"/>
        </model>
                </elementSpec>
                <elementSpec ident="physDesc">
                    <model predicate="exists(sealDesc)" behaviour="listItem">
            <param name="content" value="sealDesc"/>
        </model>
                    <model predicate="not(exists(sealDesc))" behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="supportDesc"/>
                <elementSpec ident="material">
                    <model predicate="node() or @*" behaviour="inline">
            <param name="content" value="(ec:label('surface'), ec:colon(), .)"/>
        </model>
                </elementSpec>
                <elementSpec ident="dimensions">
                    <model predicate="@type = 'leaves' and (width/@quantity &gt; 0 or height/@quantity &gt; 0)" behaviour="inline">
            <param name="content" value="(ec:label('format'), ' (cm)', ec:colon(), string-join((width/@quantity,height/@quantity), ' × ') )"/>
        </model>
                    <model predicate="@type = 'plica' and width/@quantity &gt; 0" behaviour="inline">
            <param name="content" value="' (Plica' || ec:colon() || width/@quantity || ' cm)'"/>
        </model>
                </elementSpec>
                <elementSpec ident="sealDesc"/>
                <elementSpec ident="seal"/>
                <elementSpec ident="head" mode="change">
                    <model predicate="@resp" behaviour="omit"/>
                    <model predicate="@type='title'" behaviour="heading">
            <param name="level" value="1"/>
        </model>
                    <model predicate="@type='subtitle'" behaviour="heading">
            <param name="level" value="2"/>
        </model>
                    <model behaviour="heading" useSourceRendition="true">
            <param name="level" value="2"/>
        </model>
                    <model predicate="$parameters?header='short'" behaviour="heading">
            <param name="content" value="replace(string-join(.//text() except .//ref//text()), '^(.*?)[^\w]*$', '$1')"/>
        </model>
                    <model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::table" behaviour="caption">
            <desc>head inside table should be output as caption element</desc>
        </model>
                    <model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="ancestor::app" behaviour="inline">
            <desc>Heading in app (don't format)</desc>
        </model>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="parent::bibl" behaviour="link" cssClass="ref-link">
            <param name="text" value="."/>
            <param name="link" value="ec:ref-link(@target, util:collection-name(.))"/>
        </model>
                    <model predicate="ancestor::div/@type='collection'" behaviour="link">
            <desc>Link in Klammerdokument</desc>
            <param name="link" value="string() || '.xml'"/>
            <param name="content" value="(doc(util:collection-name(.) || '/' || . || '.xml')//sourceDesc/bibl/title/text(), ' (', ec:format-id(.), ')')"/>
        </model>
                    <model predicate="not(@target)" behaviour="inline">
            <desc>Link ohne Verweisadresse</desc>
        </model>
                    <model predicate="not(text())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="link" value="@target"/>
        </model>
                    <model behaviour="link">
            <param name="link" value="@target"/>
            <param name="target" value="'_new'"/>
        </model>
                </elementSpec>
                <elementSpec ident="text()">
                    <model behaviour="content"/>
                </elementSpec>
                <elementSpec ident="author" mode="change"/>
                <elementSpec ident="listBibl" mode="change">
                    <modelSequence predicate="not($parameters?mode = 'filiation')">
            <desc>Ausgabe Bibliographie, aber nicht in "weitere Überlieferungen"</desc>
            <model behaviour="heading">
                <desc>Titel des Bibliographieabschnitts</desc>
                <param name="content" value="head/node()"/>
                <param name="level" value="5"/>
                <outputRendition xml:space="preserve">
                margin-top: 1em;
                </outputRendition>
            </model>
            <model behaviour="list">
                <desc>Liste der Bibliographieeinträge</desc>
                <param name="content" value="bibl"/>
            </model>
        </modelSequence>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="bibl" mode="change">
                    <model predicate="@type='url'" behaviour="inline" cssClass="bibl-link">
            <param name="url" value="ref/@target"/>
            <param name="text" value="."/>
            <pb:template xmlns="" xml:space="preserve">
                            <li>
                                <a href="[[url]]" target="_blank">[[text]]</a>
                            </li>
                        </pb:template>
        </model>
                    <model predicate="ancestor::teiHeader" behaviour="listItem"/>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="additional" mode="add">
                    <model behaviour="heading"/>
                </elementSpec>
                <elementSpec ident="textLang" mode="add"/>
                <elementSpec ident="teiHeader" mode="change">
                    <model predicate="$parameters?header='context'" behaviour="pass-through">
            <param name="persons" value="let $register := doc(&#34;/db/apps/zszh-data/person/person.xml&#34;) let $entries:=     for $p in root(.)//persName[@ref]   group by $k := $p/@ref     return     id($p[1]/@ref , $register)  return  for $p in $entries   order by $p/persName[@type=&#34;full_sorted&#34;] ascending   return    $p"/>
            <param name="places" value="let $register := doc(&#34;/db/apps/zszh-data/place/place.xml&#34;) let $entries:=     for $p in root(.)//text//(placeName[@ref]|origPlace[@ref])          group by $k := $p/@ref   return     id($p[1]/@ref,$register)   return  for $p in $entries   order by $p/@n ascending   return    $p"/>
            <param name="organizations" value=" let $register := doc(&#34;/db/apps/zszh-data/organization/organization.xml&#34;)  let $entries:=      for $p in root(.)//text//orgName[@ref]             group by $k := $p/@ref    return          id($p[1]/@ref, $register)      return   for $p in $entries          order by $p/orgName ascending             return                 $p                    "/>
            <param name="taxonomies" value="let $register := doc(&#34;/db/apps/zszh-data/taxonomy/taxonomy.xml&#34;) let $entries:=     for $p in root(.)//keywords//term[starts-with(@ref, &#34;key&#34;)]         group by $k := $p/@ref             return                 id($p[1]/@ref, $register)  return  for $p in $entries      order by $p/desc ascending          return                 $p"/>
            <param name="emptyPlace" value="if(root(.)//text//(placeName[@ref]|origPlace[@ref])) then () else (&#34;hidden&#34;) "/>
            <param name="emptyPerson" value="if(root(.)//persName[@ref]) then () else (&#34;hidden&#34;) "/>
            <param name="emptyOrg" value="if(root(.)//text//orgName[@ref]) then () else (&#34;hidden&#34;) "/>
            <param name="emptyTerm" value="if(root(.)//keywords//term[starts-with(@ref, &#34;key&#34;)]) then () else (&#34;hidden&#34;) "/>
            <pb:template xmlns="" xml:space="preserve"><div class="context register">
  <h3 class="place [[emptyPlace]]"><pb-i18n key="register.place"/></h3>
  <ul class="places">
    [[places]]
  </ul>
  <h3 class="person [[emptyPerson]]"><pb-i18n key="register.person"/></h3>
  <ul class="persons">
    [[persons]]
  </ul>
  <h3 class="organization [[emptyOrg]]"><pb-i18n key="register.organisation"/></h3>
  <ul class="organizations">
    [[organizations]]
  </ul>
  <h3 class="term [[emptyTerm]]"><pb-i18n key="register.keywords"/></h3>
  <ul class="keywords">
    [[taxonomies]]
  </ul>
</div></pb:template>
        </model>
                    <model predicate="$parameters?mode='footer-prev'" behaviour="block" cssClass="footer button-prev">
            <param name="target" value="let $idno := .//seriesStmt/idno                          let $col := substring-after(util:collection-name($idno), &#34;/db/apps/zszh-data/&#34;)                          let $temp  := replace($idno, &#34;^(.+?)_(\d{3}.*?)(?:_\d{1,2})?$&#34;, &#34;$1 $2&#34;)                          let $parts := tokenize($temp)                          let $start := $parts[1]                          let $id    :=                             if (matches($parts[2], &#34;^\d{8}&#34;)) then                                 replace($parts[2], &#34;_&#34;, &#34;-&#34;)                             else if (matches($parts[2], &#34;^\d{4}_\d{3}&#34;)) then                                 number(substring-before($parts[2], &#34;_&#34;)) || &#34;-&#34; || number(substring-after($parts[2], &#34;_&#34;))                             else if (count($parts) eq 1)                             then ()                             else                                 number($parts[2])                          let $next := xs:string($id + 1)                         let $len := string-length($next)                         let $next-id := if ($len &gt; 2) then $next else substring(&#34;000&#34;, 1, 3 - $len) || $next                         let $idn := $start || &#34;_&#34; || $next-id                         let $match := for $m in collection(&#34;/db/apps/zszh-data&#34;)//idno[starts-with(., $idn)] order by $m return $m                         let $link := if (count($match)) then $col || &#34;/&#34; || substring-before(util:document-name(head($match)), '.xml') else ()                          return replace($link, '^(.*)_1$', '$1')"/>
            <pb:template xmlns="" xml:space="preserve">
                <div>
                    <pb-link id="prev" path="[[target]]" emit="transcription" class="part-nav">
                        <iron-icon icon="icons:chevron-left"/>
                        <pb-i18n class="sr-only" key="navigation.prev"/>
                    </pb-link>
                    <pb-popover for="prev" theme="light-border">
                        <pb-i18n class="tooltip" key="navigation.prev"/>
                    </pb-popover>
                </div>
            </pb:template>
        </model>
                    <model predicate="$parameters?mode='footer-next'" behaviour="block" cssClass="footer button-next">
            <param name="target" value="let $idno := .//seriesStmt/idno                          let $col := substring-after(util:collection-name($idno), &#34;/db/apps/zszh-data/&#34;)                          let $temp  := replace($idno, &#34;^(.+?)_(\d{3}.*?)(?:_\d{1,2})?$&#34;, &#34;$1 $2&#34;)                          let $parts := tokenize($temp)                          let $start := $parts[1]                          let $id    :=                             if (matches($parts[2], &#34;^\d{8}&#34;)) then                                 replace($parts[2], &#34;_&#34;, &#34;-&#34;)                             else if (matches($parts[2], &#34;^\d{4}_\d{3}&#34;)) then                                 number(substring-before($parts[2], &#34;_&#34;)) || &#34;-&#34; || number(substring-after($parts[2], &#34;_&#34;))                             else if (count($parts) eq 1)                             then ()                             else                                 number($parts[2])                          let $next := xs:string($id + 1)                         let $len := string-length($next)                         let $next-id := if ($len &gt; 2) then $next else substring(&#34;000&#34;, 1, 3 - $len) || $next                         let $idn := $start || &#34;_&#34; || $next-id                         let $match := for $m in collection(&#34;/db/apps/zszh-data&#34;)//idno[starts-with(., $idn)] order by $m return $m                         let $link := if (count($match)) then $col || &#34;/&#34; || substring-before(util:document-name(head($match)), '.xml') else ()                          return replace($link, '^(.*)_1$', '$1')"/>
            <pb:template xmlns="" xml:space="preserve">
                            <div>
                                <pb-link id="next" path="[[target]]" emit="transcription" class="part-nav">
                                    <pb-i18n class="sr-only" key="navigation.next"/>
                                    <iron-icon icon="icons:chevron-right"/>
                                </pb-link>
                                <pb-popover for="next" theme="light-border">
                                    <pb-i18n class="tooltip" key="navigation.next"/>
                                </pb-popover>
                            </div>
                        </pb:template>
        </model>
                    <modelSequence predicate="$parameters?view='metadata'">
            <model behaviour="block">
                <param name="content" value=".//sourceDesc/bibl/title"/>
            </model>
            <model behaviour="output-date">
                <param name="content" value=".//msDesc"/>
            </model>
            <model predicate="exists(.//msContents/summary/node())" behaviour="block">
                <param name="content" value=".//msContents/summary"/>
                <pb:template xmlns="" xml:space="preserve">
                                <pb-collapse class="metadata" expand-icon="icons:chevron-right" collapse-icon="icons:expand-more">
                                    <div slot="collapse-trigger">
                                        <h4 class="block-title accordion">
                                            <pb-i18n key="meta.regest"/>
                                        </h4>
                                    </div>
                                    <div id="regest" slot="collapse-content">[[content]]</div>
                                </pb-collapse>
                            </pb:template>
            </model>
        </modelSequence>
                    <model output="fo" behaviour="omit"/>
                    <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                </elementSpec>
            <elementSpec ident="person" mode="add"/>
                <elementSpec ident="place" mode="add">
                    <model predicate="$parameters?header='context'" behaviour="pass-through">
            <param name="content" value="."/>
            <param name="ref" value="@xml:id"/>
            <param name="value" value="(&lt;a href=&#34;../places/all/{placeName[@type=&#34;main&#34;]/string()}?key={@xml:id}&#34;&gt;{placeName[@type=&#34;main&#34;]/string()}&lt;/a&gt;, &lt;span&gt;{&#34; &#34; || placeName[@type=&#34;add&#34;]/string()}&lt;/span&gt;)"/>
            <pb:template xmlns="" xml:space="preserve"><li data-ref="[[ref]]">
  <paper-checkbox class="select-facet" title="i18n(highlight-facet)"/>
  <div>[[value]]</div>
</li></pb:template>
        </model>
                    <modelSequence>
            <model behaviour="inline">
                <param name="content" value="(ec:label('place'), ' ')"/>
            </model>
            <model behaviour="link">
                <param name="link" value="'../places/all/' || placeName[@type=&#34;main&#34;]/string() || '?key=' || @xml:id"/>
                <param name="content" value="placeName[@type=&#34;main&#34;]/string()"/>
                <param name="target" value="'_new'"/>
            </model>
            <model behaviour="inline">
                <param name="content" value="&#34; &#34; || placeName[@type=&#34;add&#34;]/string()"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="org" mode="add">
                    <model predicate="$parameters?header='context'" behaviour="pass-through">
            <param name="content" value="."/>
            <param name="ref" value="@xml:id"/>
            <param name="value" value="(&lt;a href=&#34;../organization/all/{./orgName/string()}?key={@xml:id}&#34; target=&#34;_blank&#34;&gt;{orgName/string()}&lt;/a&gt;, if (@type) then( &lt;span&gt; ({@type/string()})&lt;/span&gt;) else ())"/>
            <pb:template xmlns="" xml:space="preserve"><li data-ref="[[ref]]">
  <paper-checkbox class="select-facet" title="i18n(highlight-facet)"/>
  <div>[[value]]</div>
</li></pb:template>
        </model>
                    <modelSequence>
            <model behaviour="inline">
                <param name="content" value="(ec:label('organisation'), ' ')"/>
            </model>
            <model behaviour="link">
                <param name="link" value="'../organization/all/' || orgName/string() || '?key=' || @xml:id"/>
                <param name="content" value="orgName/string()"/>
                <param name="target" value="'_new'"/>
            </model>
            <model behaviour="inline">
                <param name="content" value="&#34; &#34; || @type/string()"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="category" mode="add">
                    <model predicate="$parameters?header='context'" behaviour="pass-through">
            <param name="content" value="."/>
            <param name="ref" value="@xml:id"/>
            <pb:template xmlns="" xml:space="preserve"><li data-ref="[[ref]]">
  <div>[[value]]</div>
</li></pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="docImprint" mode="change">
                    <model behaviour="listItem">
            <param name="content" value="(ec:label('imprint'), ec:colon(), translate((translate((pubPlace/text() || &#34; &#34; || publisher/text() ),&#34;)&#34;,&#34;&#34;)),&#34;(&#34;,&#34;&#34;))"/>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>